[validated-form] {
  .error {
    display: none;
    font-weight: 100;
    color: @color-red;

    ul {
      padding: 0 0 0 5px;
      margin: 0;

      li {
        list-style: none;
        display: inline;

        &:before {
          content: '. ';
        }

        &:first-of-type {
          &:before {
            content: '';
          }
        }
      }
    }
  }

  &.ng-submitted {
    .error {
      &.contains-errors {
        display: inline-block;
      }
    }

    .ng-invalid {
      border-color: @color-red !important;
    }

    .ui-select-container {
      &.ng-invalid {
        .form-control {
          border-color: @color-red !important;
        }
      }
    }
  }
}
