<div class="inmodal">
    <div class="color-line"></div>
    <div class="modal-header">
        <h4 class="modal-title">Password Recovery</h4>
        <small class="font-bold">We need your email address in order to send you a temporary password</small>
    </div>
    <form name="passRecoveryForm" validated-form novalidate>
        <div class="modal-body">
            <div class="row">
                <div class="form-group col-md-12">
                    <label>
                        Email Address
                        <field-error field="email"></field-error>
                    </label>
                    <input type="email" placeholder="Please provide your email address" ng-model="data.email"
                           name="email" class="form-control" autocomplete="off" autofocus required>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" ng-click="passRecoveryForm.$valid ? $close(data.email) : noop()">Send</button>
            <button type="button" class="btn btn-default" ng-click="$dismiss()">Close</button>
        </div>
    </form>
</div>