<div class="hpanel consumer-order">
    <div class="panel-body" >
        <form class="form-horizontal order-edit" name="preOrderForm" novalidate="">
            <ng-form name="headerForm">
                <div dynamic-fields-builder>
                  <dynamic-field>
                      <label class="col-sm-2 control-label">Pre Order #</label>
                      <div class="col-sm-4">
                        <div class="form-control-static" >P0000001</div>
                      </div>
                  </dynamic-field>
                  <dynamic-field>
                      <label class="col-sm-2 control-label">Status</label>
                      <div class="col-sm-4">
                          <div class="form-control-static" >NEW (UNSAVED)</div>
                      </div>
                  </dynamic-field>
                <dynamic-field>
                    <label class="col-sm-2 control-label">Customer</label>
                    <div class="col-sm-4">
                        <div class="form-control-static">Test Customer</div>
                    </div>
                </dynamic-field>
                <dynamic-field>
                    <label class="col-sm-2 control-label">Distributor</label>
                    <div class="col-sm-4">
                        <div class="form-control-static">Test Distributor</div>
                    </div>
                </dynamic-field>
            </div>
          </ng-form>
          <div class="col-sm-8 col-sm-offset-2" style="float:right;">
            <button class="btn btn-primary" ng-click="createPreorder()" type="button" ng-cloak>Create Pre Order for {{data.month}} </button>
            <button class="btn btn-default" type="button">Cancel</button>
          </div>
        </form>
    </div>

    <div class="panel-body" ng-if="data.created">

        <uib-tabset active="data.active">
           <uib-tab ng-repeat="preorder in preorders">
             <uib-tab-heading>
               <div>Week starting on {{preorder.weekDate}}</div>
               <div class="preorder-total">Order Total: <span>{{preorder.totalSellCharge | currency }}</span></div>
             </uib-tab-heading>

             <preorder-child preorder="preorder" total-selectable-items="data.pagination.totalItems"
             parent-preorder-id="" page-size="20"></preorder-child>
           </uib-tab>
       </uib-tabset>

         <div class="col-sm-8 col-sm-offset-2" style="float:left;">
            <button class="btn btn-primary" ng-click="createPreorder()" type="button">Save</button>
            <button class="btn btn-default" type="button">Cancel</button>
        </div>

        </form>
    </div>
</div>
